transformers==4.40.1
datasets==2.19.1
mlflow[extras]==2.13.0         # <--- incluye soporte para transformers, torch, etc.
scikit-learn==1.4.2
accelerate==0.30.1
torch>=2.1
azure-ai-ml==1.16.0
azure-identity==1.15.0
marshmallow==3.19.0
